@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;300;400;500;700;800&family=Kanit:wght@100;300;400;700&display=swap');

/* Estilos para Desktop */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Kanit', sans-serif;
}
header {

}
#container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-header {
  padding: 4px 16px;
}
#displays {
  display: flex;
  justify-content: center;
  align-items: center;
}

#renderCanvas, #renderCanvasWebGPU {
  width: 480px;
  border: 1px solid red;
  height: 480px;
  touch-action: none;
}

#fpsWebGL, #fpsWebGPU {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: crimson;
}

.versus {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

/* Estilos para Mobile */
@media (max-width: 768px) {
  #container {
    flex-direction: column;
    height: 100%;
  }
  #renderCanvas, #renderCanvasWebGPU {
    width: 300px;
    height: 300px;
  } 
  header h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  #container h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  #container > span {
    font-size: 1.5rem;
    margin: 20px 0;
  }
  #displays {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
