/* Estilos para Desktop */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {

}
#container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#displays {
  display: flex;
  justify-content: center;
}

#renderCanvas, #renderCanvasWebGPU {
  width: 520px;
  border: 1px solid red;
  height: 520px;
  touch-action: none;
}

/* Estilos para Mobile */
@media (max-width: 768px) {
  #container {
    flex-direction: column;
    height: 100%;
  }
  #renderCanvas, #renderCanvasWebGPU {
    width: 300px;
    height: 300px;
  } 
  header h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  #container h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  #container > span {
    font-size: 1.5rem;
    margin: 20px 0;
  }
  #displays {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
